.slider-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    height: 100vw;
    max-height: 750px;
    margin: auto;
    }

.slide-container {
    position: relative;
    width: 80%;
    height: 80%;
    }

.slide {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;

    }

.slide img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: .3s ease-in-out;
    }

.slider-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: black solid 3px;
    border-radius: 50%;

    cursor: pointer;
    outline: none;
    }

.slider-btn img {
    width: 90%;
    }

.thumbnails-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    width: 80%;
    height: 20%;

    }

.thumbnails {
    position: relative;
    width: 90%;
    height: 80%;
    overflow: hidden;
    }

.thumbnails img {
    position: absolute;
    left: 0;
    object-fit: cover;
    padding: 0 10px;
    height: 100%;
    width: 200px;
    transition: .3s ease-in-out;
    }

.prev-btn {
    transform: translate(-50%, -50%);
    z-index: 1;
    left: 0;
    }

.next-btn {
    right: 0;
    transform: translate(50%, -50%);
    }

.thumbnails-btn {
    width: 50px;
    height: 50px;
    opacity: .5;
    }

.thumbnails-btn img {
    width: 80%;
    }

.active-slide {
    border: 2px solid green;
    }

@media (max-height: 750px) {
    .slider-container {
        max-height: 100vh;
        }

    .thumbnails-container {
        display: none;
        }
    }

@media (max-width: 1023px) {
    .slide-container {
        width: 90%;
        }
    }

@media screen and (max-width: 767px) {
    .thumbnails-container {
        display: none;
        }

    .slider-btn {
        height: 50px;
        width: 50px;
        }
    }
